<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/header :: site-header"></div>
<h1>Student Dashboard</h1>
<p>Welcome, student! Here you will see jobs you can apply to.</p>

<ul>
    <li><a th:href="@{/student/jobs}">Browse available jobs</a></li>
    <li><a th:href="@{/logout}">Logout</a></li>
</ul>
<div th:replace="fragments/footer :: site-footer"></div>
</body>
</html>
