<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Campus Job Board</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/header :: site-header"></div>
<h2>Login</h2>

<!-- show registration success -->
<div th:if="${param.registered}">
    <p style="color:green;">Registration successful. Please log in.</p>
</div>

<div th:if="${param.error}">
    <p style="color:red;">Invalid email or password.</p>
</div>
<div th:if="${param.logout}">
    <p style="color:green;">You have been logged out.</p>
</div>

<form th:action="@{/login}" method="post">
    <label>Email:</label>
    <input type="text" name="username"/><br/>

    <label>Password:</label>
    <input type="password" name="password"/><br/>

    <button type="submit">Login</button>
</form>

<p><a th:href="@{/register}">Register</a></p>
<div th:replace="fragments/footer :: site-footer"></div>
</body>
</html>
